<div id="header">
  <nav id="header-nav">
    <a class="header-nav-link" href="http://johnzupin.gitlab.io/blog.html">Blog</a>
    <a class="header-nav-link" href="http://johnzupin.gitlab.io/media.html">Media</a>
    <a class="header-nav-link" href="http://johnzupin.gitlab.io/pgp.html">PGP</a>
    <a class="header-nav-link" href="http://johnzupin.gitlab.io/about.html">About</a>
  </nav>
</div>
<div id="main">
